@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --peach: rgba(255, 197, 89, 0.555);
    --white: rgb(255, 247, 235);
    --intenseGray: rgba(0, 0, 0, 0.2);
    --lightGray: rgba(0, 0, 0, 0.19);
    --rose: rgba(223, 116, 116, 0.089);
    --intenseRed: rgb(165, 39, 39);
    --intenseGreen: rgb(50, 83, 19);
    --intenseBrown: rgb(90, 22, 22);
    box-sizing: border-box;
}

body {
    background-color: var(--peach);
    display: flex;
    flex-direction: column;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 2200px;
    width: 1100px;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 var(--intenseGray), 0 6px 20px 0 var(--lightGray);
    border-radius: 55px;
    margin: 120px;
    padding: 90px;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5em;
    overflow: hidden;
    text-align: justify;
}

#content, #title, #pic, #description, #preparationTime, #ingredients , #instruction, #nutrition {
    width: 900px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    color: var(--intenseBrown);
    font-size: 1.8em;
}

#content  h2{
    font-weight: bold;
}

#content {
    height: 2400px;
    width:  900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content > #pic > img {
    display: flex;
    height: 500px;
    width: 900px;
    border-radius: 35px;
    overflow: hidden;
}

#title h1 {
    font-size: 2.4em;
    font-style: italic;
    height: 80px;
}

#description {
    height: 100px;
    color: var(--intenseGreen);
    font-style: italic;
    font-weight: bold;
}

#preparationTime {
    height: 150px;
    border-radius: 20px;
    padding: 30px;
    width: 900px;
    align-self: center;
    background-color: var(--rose);
}

#preparationTime h2{
    font-size: 1.2em;
    color: var(--intenseRed);
}

#preparationTime li{
    padding-left: 60px;
    font-weight: bold;
    list-style-position: inside;
    color: var(--intenseGreen);
}

#preparationTime span{
   font-weight: normal;
}

#preparationTime li::marker{
    color: var(--intenseRed);
    list-style-position: inside;
    padding-left: 20px;
}

#ingredients {
    height: 310px;
    color: var(--intenseGreen);
    list-style-position: inside;
}

#ingredients ul{
    padding-left: 20px;
}

#ingredients li::marker{
    color: var(--intenseRed);
    list-style-position: inside;
    padding-left: 20px;
}

#instruction {
    height: 400px;
    color: var(--intenseGreen);
    list-style-position: inside;
    border-bottom: 1px solid var(--intenseGray);
    border-top: 1px solid var(--intenseGray);
    overflow: hidden; 
}

#instruction li{
    list-style-position: inside;
    padding-left: 10px;
    margin-bottom: 10px;
}

#instruction li:last-child{
    margin-bottom: 0px;
}

#instruction li::marker{
    color: var(--intenseRed);
    font-weight: bold;
    list-style-position: inside;
    padding-left: 20px;
}

#nutrition {
    height: 280px;
    color: var(--intenseGreen);
}

#nutrition .nutrition {
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
   align-items:flex-start;
   margin-bottom: 3px;
   margin-top: 3px;
   font-weight: bold;
   border-bottom: 1px solid var(--intenseGray);
}

.nutrition > .nutritionValue{
    color: var(--intenseRed);
}