@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --black: rgb(0, 0, 0);
    --peach: rgba(255, 197, 89, 0.555);
    --intenseBrown: rgb(104, 49, 49);
    --intenseRed: rgb(210, 4, 45);
    --white: rgb(253, 253, 253);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--peach);
    font-family: "Noto Sans", sans-serif;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 1000px;
    margin: 300px;
}

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 30px;
}

main > div {
    border : 3px solid var(--intenseBrown);
    margin: 10px;
    padding: 10px;
    border-radius: 45px;
    width: 1100px;
    height: 200px;
}

h1{
    font-size: 7rem;
    color: var(--intenseBrown);
}

h1:hover{
    color:var(--intenseRed);
}

.recipe{
    position: relative;
    text-align: center;
    width: 1100px;
    height: 200px;
}

.firstRecipe, .secondRecipe, .thirdRecipe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    width: inherit;
    height: 195px;
    border-radius: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.firstRecipe{
    background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F1217931.jpg&q=60&c=sc&poi=auto&orient=true&h=512');
}

.secondRecipe{
    background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F9186689.jpg&q=60&c=sc&poi=auto&orient=true&h=512');
}

.thirdRecipe{
    background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F4531443.jpg&q=60&c=sc&poi=auto&orient=true&h=512');
}

.firstRecipe:hover, .secondRecipe:hover, .thirdRecipe:hover{
    opacity: 1;
}


.recipeTitle{
    font-family: "Noto Sans", sans-serif;
    font-size: 3.3rem;
    text-decoration: none;
    font-weight: bold;
    opacity: 1;
    color: var(--white);
}

.recipeTitle:visited {
    color: var(--black);
}
  
.recipeTitle:hover {
    color: var(--white);
}
 
.recipeTitle:active {
    color: var(--intenseRed);
}